/configure
/config.log
/config.status
/autom4te.cache
/libtool
/libstarpu.pc
/aclocal.m4
/build-aux
/GPATH
/GRTAGS
/GTAGS
/config.cache
/doc/starpu.info
*~
,*
Makefile
Makefile.in
.libs
.deps
*.o
*.lo
*.la
.dirstamp
/gcc-plugin/src/starpu-gcc-config.h
