/configure
/config.log
/config.status
/autom4te.cache
/libtool
/aclocal.m4
/build
/build-aux
/GPATH
/GRTAGS
/GTAGS
/tags
/TAGS
/config.cache
*~
,*
.libs
.deps
*.orig
*.rej
*.o
*.lo
*.la
*.swp
*.swo
*.class
.dirstamp
.tramp_history
*.pc
*.vim
stamp-h[0-9]*
starpu.log

/doc/stamp-vti
/doc/doxygen/chapters/version.sty
/doc/doxygen/chapters/version.html
/doc/doxygen_dev/chapters/version.sty
/doc/doxygen_dev/chapters/version.html
/doc/doxygen_web_basics/chapters/
/doc/doxygen_web_extensions/chapters/
/doc/doxygen_web_faqs/chapters/
/doc/doxygen_web_installation/chapters/
/doc/doxygen_web_introduction/chapters/
/doc/doxygen_web_languages/chapters/
/doc/doxygen_web_performances/chapters/
/doc/doxygen/doxygen-config.cfg
/doc/doxygen/doxygen-config-include.cfg
/doc/doxygen/doxygen_filter.sh
/doc/doxygen_dev/doxygen-config.cfg
/doc/doxygen_dev/doxygen_filter.sh

/cyclomatic-complexity.html
Makefile.in
Makefile
