<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="StarPU.commands.category"
            name="StarPU Category">
      </category>
      <command
            categoryId="StarPU.commands.category"
            name="StarPU FxT tool"
            id="StarPU.commands.traceGenCommand">
      </command>
      <command
            categoryId="StarPU.commands.category"
            id="StarPU.commands.traceVizCommand"
            name="Visualize Paje trace">
      </command>
      <command
            categoryId="StarPU.commands.category"
            id="StarPU.commands.taskGraphCommand"
            name="Run Task graph">
      </command>
      <command
            categoryId="StarPU.commands.category"
            id="StarPU.commands.svgCommand"
            name="Generate SVG graph">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="starpu.handlers.TraceGenHandler"
            commandId="StarPU.commands.traceGenCommand">
      </handler>
      <handler
            class="starpu.handlers.TraceVizHandler"
            commandId="StarPU.commands.traceVizCommand">
      </handler>
      <handler
            class="starpu.handlers.TaskGraphHandler"
            commandId="StarPU.commands.taskGraphCommand">
      </handler>
      <handler
            class="starpu.handlers.SvgHandler"
            commandId="StarPU.commands.svgCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="StarPU.commands.traceGenCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
      <key
            commandId="StarPU.commands.traceVizCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
      <key
            commandId="StarPU.commands.taskGraphCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="StarPU.commands.svgCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="StarPU.menus.sampleMenu"
               label="StarPU"
               mnemonic="M">
            <command
                  commandId="StarPU.commands.traceGenCommand"
                  id="StarPU.menus.traceGenCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="StarPU.commands.traceVizCommand"
                  id="StarPU.menus.traceVizCommand"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="StarPU.commands.taskGraphCommand"
                  id="StarPU.commands.taskGraphCommand"
                  style="push">
            </command>
            <command
                  commandId="StarPU.commands.svgCommand"
                  id="StarPU.commands.svgCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StarPU.toolbars.sampleToolbar">
            <command
                  id="StarPU.toolbars.traceGenCommand"
                  commandId="StarPU.commands.traceGenCommand"
                  icon="icons/fxt.png"
                  tooltip="StarPU FxT tool">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StarPU.toolbars.sampleToolbar">
            <command
                  commandId="StarPU.commands.traceVizCommand"
                  icon="icons/vite.png"
                  id="StarPU.toolbars.traceVizCommand"
                  tooltip="Vizualise Paje trace">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StarPU.toolbars.sampleToolbar">
            <command
                  commandId="StarPU.commands.taskGraphCommand"
                  icon="icons/taskGraph.png"
                  id="StarPU.toolbars.taskGraphCommand"
                  tooltip="Run Task graph">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StarPU.toolbars.sampleToolbar">
            <command
                  commandId="StarPU.commands.svgCommand"
                  icon="icons/svg.png"
                  id="StarPU.toolbars.svgCommand"
                  tooltip="Generate SVG graph">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
